/*
@font-face {
    font-family: 'Lato-Bold';
    font-weight: normal;
    font-style: normal;
    src: url(/site/fonts/Lato-Bold.woff) format('woff');
}
*/

html, body{
    width: 100%;
    height: 100%;
    position: relative;
}

body{
    /*color: #707370;*/
    /*font-family: "Sunflower";*/
    font-family: 'Ubuntu', sans-serif;
    /*background-color: #ececec;*/
    background-color: #d0d0d0;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}

.whole_page{
    position: relative;
    min-height: 100vh;
}

img{
    image-rendering: -webkit-optimize-contrast;
}

.rotate_show_up{
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.left{ text-align: left; }
.center{ text-align: center; }
.right{ text-align: right; }

.row,
.form-group{
    margin: 0 !important;
    overflow: hidden;
}

.centralizar{
    float: none;
    display: inline-block;
}

/*COLORS---------*/
.white{
    color: #fff !important;
}

.grey{
    color: #707370 !important;
}

.orange{
    color: #f87c37 !important;
}

.blue{
    color: #000099 !important;
}

.black{
    color: #000 !important;
}

a{
    color: inherit;
}

a:hover{
    /*color: red;*/
    /*font-weight: bold;*/
}

i{
    color: #000099 !important;
}
/*COLORS---------*/


/*TRANSFORM---------*/
.bold{
    font-weight: bold;
}

.caps{
    text-transform: uppercase;
}
/*TRANSFORM---------*/

button,
input{
    outline: 0;
}
textarea { resize: vertical; }
input[type=file]{
    padding: 10px;
}

input:focus{
    border-color: unset;
    outline: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.disp_inline_flex{
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.disp_none{
    display: none;
}

.disp_block{
    display: block !important;
}

#topcontrol{
    z-index: 99;
}

#topcontrol,
#topcontrol img{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

#topcontrol:hover img{
    transform: scale(1.3);
}

#googleMap{
    height: 175px;
}

.no_hover a:hover{
    text-decoration: none;
    color: inherit;
    font-weight: unset;
}

.wow{
    visibility: hidden;
    animation-delay: 0.4s;
    animation-name: none;
}

.txt_titulo{
    /*font-family: "Sunflower";*/
    font-family: "Montserrat";
    font-size: 26px;
    font-weight: bold;
    color: #000099;
}

.txt_texto{
    font-family: "Montserrat";
    font-size: 14px;
}

.pad_only_bot{
    padding-bottom: 85px;
}

.second_block{
    background-color: rgb(230, 230, 255);
}

.blue_back{
    background-color: #000099;
}

.ellipse{
    border-top-left-radius: 50%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 50%;
}


@media screen and (max-width: 992px){
    .mobile_disp_none{
        display: none !important;
    }

    .mobile_padding_0{
        padding: 0 !important;
    }

    #googleMap{
        height: 350px;
    }

    .mobile_center{
        text-align: center !important;
    }

    .tipo_veiculo.disp_inline_flex{
        display: block;
    }

    .no-padding-mobile{
        padding: 0 !important;
    }

    .mobile_disp_block{
        display: block !important;
    }

    .pad_only_bot{
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 500px){

}





/*==================================================================================================*/
/*VARIABLES*/
/*==================================================================================================*/

:root{
    --durian: #e1bd27;
    --matcha: #91b500;
    --redbeanpaste: #b07777;
    --sesame: #bb9f78;
    --iris: #2D60A8;
    --grey: #292929;
    --light_grey: #b5b5b5;

    --durian_t: rgba(225, 189, 39, 0.7);
    --matcha_t: rgba(145, 181, 0, 0.7);
    --redbeanpaste_t: rgba(176, 119, 119, 0.7);
    --sesame_t: rgba(187, 159, 120, 0.7);
    --iris_t: rgba(45, 96, 168, 0.7);
    --grey_t: rgba(41, 41, 41, 0.7);
}




.durian{
    --durian: #e1bd27;
}
.matcha{
    --matcha: #91b500;
}
.redbeanpaste{
    --redbeanpaste: #b07777;
}
.sesame{
    --sesame: #bb9f78;
}
.iris{
    --iris: #2D60A8;
}

/*with transparency*/

.durian_t{
    --durian: rgba(225, 189, 39, 0.7);
}
.matcha_t{
    --matcha: rgba(145, 181, 0, 0.7);
}
.redbeanpaste_t{
    --redbeanpaste: rgba(176, 119, 119, 0.7);
}
.sesame_t{
    --sesame: rgba(187, 159, 120, 0.7);
}
.iris_t{
    --iris: rgba(45, 96, 168, 0.7);
}



/*==================================================================================================*/
/*MENU MOBILE - ANIMAÇÃO HAMBURGUER*/
/*==================================================================================================*/

/*
*{
	margin: 0;
	padding: 0;
}
*/

#nav-icon1{
    width: 35px;
    height: 32px;
    position: relative;
    /*margin: 50px auto;*/
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: var(--matcha);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1){
    top: 0px;
}

#nav-icon1 span:nth-child(2){
    top: 10px;
}

#nav-icon1 span:nth-child(3){
    top: 20px;
}

#nav-icon1.open span:nth-child(1){
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2){
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3){
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


/*==================================================================================================*/
/*MENU*/
/*==================================================================================================*/



.menu_holder {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 25px 0;
    width: 100%;
    z-index: 10;
    background-color: #292929;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.menu_holder.scroll {
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 3px solid #090979;
    padding: 13px 0;
}

.menu_holder .navbar-header {
    position: absolute;
    left: 50px;
    bottom: -56px;
    transform: rotate(9deg);
}

.menu_holder .navbar-header img{
    width: 96px;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.menu_holder.scroll .navbar-header img{
    width: 40px;
}

.menu_holder .menu-toggler{
    position: absolute;
    background: transparent;
    border: 0;
    width: 35px;
    top: 28px;
    right: 5%;
    cursor: pointer;

    display: none;
}

.menu_holder .menu-toggler span {
    height: 3px;
    width: 100%;
    background-color: #e3861d;
    margin-top: 5px;
    display: block;
    border-radius: 2px;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.menu_holder .menu-toggler:hover span {
    background-color: #808b92;
}

.menu_holder .menu{
    display: inline-block;
    margin: 20px 0 2px 50px;
    float: right;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.menu_holder.logged_in .menu {
    margin: 2px 0 2px 50px;
}

.menu_holder.scroll .menu {
    margin: 10px 0 10px 50px;
}

.menu_holder .menu-nav{
    list-style: none;
    margin: 0;
}

.menu_holder .menu-nav .dropdown{
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}

.menu_holder .menu-nav .dropdown.login{
    border: 1px solid #fff;
    padding: 2px 8px;
}

.menu_holder .menu-nav .dropdown.login_img{
    padding: 0 8px;
    position: relative;
    top: 14px;
}

/*.menu_holder .menu-nav .dropdown.login_img img{
    width: 50px;
    position: relative;
    bottom: 3px;
}*/

.menu_holder .menu-nav .dropdown.login_img div{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/*MENU FONT COLOR*/
.menu_holder .menu-nav .dropdown a{
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-family: "Sunflower";
}

.menu_holder.scroll .menu-nav .dropdown a{
    color: #000;
}

.menu_holder .menu-nav .dropdown.active a,
.menu_holder .menu-nav .dropdown a:hover,
.menu_holder .menu-nav li.active > a,
.menu_holder .menu-nav li.active:hover > a {
    color: #fff;
    text-decoration: none !important;
}

.menu_holder.scroll .menu-nav .dropdown.active a,
.menu_holder.scroll .menu-nav .dropdown a:hover,
.menu_holder.scroll .menu-nav li.active > a,
.menu_holder.scroll .menu-nav li.active:hover > a {
    color: #090979;
}


/*SUB-MENU*/
.menu_holder .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: default;
}
.menu_holder .dropdown-menu hr{
    width: 80%;
    margin: 8px auto;
    border-top: 1px solid #ccc;
}
.menu_holder .dropdown-menu a:hover{
    background-color: transparent;
}
.menu_holder .dropdown-menu li:hover{
    background-color: rgba(9, 9, 121, 0.4);
}

.menu_holder.scroll .dropdown-menu {
    background-color: #fff;
    cursor: default;
}
.menu_holder.scroll .dropdown-menu li:hover{
    background-color: #090979;
}

.menu_holder .menu-nav .dropdown::after {
    content: '';
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    left: -6px;
    bottom: -6px;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.menu_holder .menu-nav .dropdown:last-child::after {
    width: 0 !important;
    visibility: hidden;
}

.menu_holder .menu-nav .dropdown.login::after {
    content: '';
    width: 0;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 10;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.menu_holder .menu-nav .dropdown:hover::after,
.menu_holder .menu-nav li.active::after {
    width: Calc(100% + 13px);
}

.menu_holder .menu-nav .dropdown.login:hover::after,
.menu_holder .menu-nav li.login.active::after {
    width: 100%;
}

.menu_holder .menu-nav .dropdown.login:hover a,
.menu_holder .menu-nav .dropdown.login.active a{
    color: #000;
    z-index: 12;
    position: relative;
}

.menu_holder.scroll .menu-nav .dropdown::after {
    background: #090979;
}

.sub_menus{
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: 138px;
    width: 100%;
    z-index: 10;
    padding: 45px 0;
    display: none;
}

.sub_menus_img{
    width: 100%;
    height: 275px;

    background-size: 100%;
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: top center;
}

.sub_menus .nome{
    font-family: "Lato-Bold";
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
}

.sub_menus .descricao{
    font-family: "Lato-Light";
    font-size: 14px;
    color: #000;
    width: 85%;
}

.sub_menus a:hover{
    text-decoration: none;
}

.each_submenu{
    cursor: pointer;
}

.each_submenu .nome.active{
    color: #556B2F;
}

#m_search{}

#m_search input{
    background-color: transparent;
    width: 23px;
    border: 0;
    border-left: 1px solid var(--matcha);
    border-bottom: 1px solid var(--matcha);
    border-bottom-left-radius: 10px;
    color: #fff;
}

#m_search.open input{
    padding-right: 23px;
    padding-left: 8px;
    width: 100%;
    max-width: 155px;
}

#m_search i{
    color: #fff !important;
    font-size: 14px;
    position: absolute;
    right: 4px;
    top: 4px;
}



@media screen and (min-width: 993px) {

    .menu_holder {
        padding: 0;
    }

    .menu_holder .menu {
        display: inline-block !important;
        position: relative;
        top: -8px;
    }

    .menu_holder .navbar-header {
        bottom: -33px;
    }

    .menu_holder .menu-nav .dropdown.login_img div {
        width: 35px;
        height: 35px;
        position: relative;
        bottom: 4px;
    }
}

@media screen and (max-width: 1200px) {
    .menu_holder .menu-nav .dropdown a{
        font-size: 14px;
    }
}

@media screen and (max-width: 992px) {

    .menu_holder{
        /*background-color: rgba(0, 135, 186, 0.8);*/
        /*background-color: rgba(47, 47, 47, 0.8);*/
        padding: 25px 0;
    }

    .menu_holder .container{
        padding: 0 20px;
        width: 90%;
    }

    .menu_holder .navbar-header {
        top: -7px;
        bottom: unset;
        margin-left: 0;
    }

    .menu_holder .navbar-header img{
        width: 70px;
    }

    .menu_holder .menu-toggler{
        display:block;
        top: -19px;
    }

    .menu_holder .menu {
        margin: 40px 0 0;
        width: 100%;

        display: none;
    }

    .menu_holder .menu.aberto{
        display: block;
        margin-top: 60px;
    }

    .menu_holder .menu-nav {
        padding: 0;
    }

    .menu_holder .menu-nav .dropdown {
        display: block;
        width: 100%;
        margin: 15px;
        width: -webkit-fill-available;
        width: -ms-fill-available;
    }

    .menu_holder .menu-nav .dropdown:hover::after,
    .menu_holder .menu-nav li.active::after {
        width: 150px;
    }

    .input_pesq_menu{
        right: unset;
        left: 0;
    }

    .sub_menus {
        top: 188px;
        left: 0;
        right: 0;
        width: 80%;
        margin: auto;
        padding: 25px 0;
        border: 1px solid #556B2F;
    }

    .menu_holder .menu-nav .dropdown.login {
        width: 75px;
    }

    #m_search {
        margin-top: 20px !important;
    }

    #m_search input {
        width: 100%;
        width: 100%;
        border: 1px solid var(--matcha);
        border-radius: 10px;
        padding: 4px 10px;
        padding-right: 26px;
    }

    #m_search.open input {
        max-width: unset;
    }

    #m_search i {
        right: 10px;
        top: 7px;
    }



}

@media screen and (max-width: 768px) {

    .menu_holder.scroll .navbar-header img,
    .menu_holder .navbar-header img{
        width: 70px;
    }

}





/*==================================================================================================*/
/*BANNER*/
/*==================================================================================================*/


.banner{
    position: relative;
    width: 100%;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.banner ul{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.banner ul img{
    width: 100%;
}

.banner ul li{
    width: 100%;
    height: 100vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner ul li::after {
    content: '';
    /*width: 50%;*/
    height: 4px;
    background: #556B2F;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;

    -webkit-transition: all 3.5s;
    -moz-transition: all 3.5s;
    transition: all 3.5s;
}

.banner.internas li {
    height: 260px;
    background-position: top center;
}

.banner #slider_home .owl-controls {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.banner #slider_home .owl-dots {
    position: absolute;
    bottom: -6px;
    text-align: center;
    margin: -25px auto 0;
    left: 0;
    right: 0;
}

.banner #slider_home .owl-dots .owl-dot {
    width: 14px;
    height: 45px;
    display: inline-block;
    margin: 0 2px;
    border-radius: 100%;
    border: 0;
    /*background-color: rgba(255, 255, 255, 0.4);*/
    /*background-image: url('/images/dot.png');*/
    /*background-size: cover;/*
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    position: relative;
}

.banner #slider_home .owl-dots .owl-dot.active {
    /*background-color: #fff;*/
    /*background-image: url('/images/dot_green.png');*/
}

.banner #slider_home .owl-dots .owl-dot:after{
    content: '';
    width: 14px;
    height: 35px;
    background: #000;
    position: absolute;
    bottom: 0;
    z-index: 1;
    border: 1px solid #c5c5c56b;

    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}

.banner #slider_home .owl-dots .owl-dot.active:after{
    content: '';
    width: 14px;
    height: 45px;
    background: #556B2F;
    position: absolute;
    bottom: 0;
    z-index: 1;
    border: 1px solid #c5c5c56b;

    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}

.banner #slider_home .owl-prev img,
.banner #slider_home .owl-next img {
    width: 32px !important;
}

.banner .banner_content_box{
    position: absolute;
    padding-top: 35vh;
    padding-left: 30px;
    width: 60%;
    left: 0;
    top: 0;
    bottom: -1px;
    text-align: left;

    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0,0.5) 73%, rgba(0 , 0, 0,0) 100%);

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.banner .banner_content_box h3{
    width: fit-content;
    color: #fff;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
    border-bottom: 3px solid #fff;
    font-family: "Montserrat";

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.banner .banner_content_box p{
    color: #fff;
    font-size: 24px;
    font-family: "Montserrat";

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.banner .banner_content_box button{
    color: #fff;
    font-size: 24px;
    font-family: "Montserrat";
    border: 3px solid #fff;
    background-color: transparent;
    padding: 10px 45px;
    text-transform: uppercase;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.banner .banner_content_box img{
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: unset;
    max-width: 500px;
    max-height: 50%;
    border-radius: 5px;
    padding-bottom: 15px;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.banner .banner_content_box:hover img{
    box-shadow: 0px 27px 30px -35px #fff;
    bottom: 50px;
}

.banner .conteudo button:hover{
    border: 3px solid #556B2F;
    background-color: #556B2F;
}






@media screen and (min-width: 993px) {

    .banner .conteudo .nome:hover{
        /*transform: scale(1.2);*/
    }

    .banner .conteudo .descricao:hover{
        /*transform: scale(1.2);*/
    }
}

@media screen and (max-width: 992px) {

    .banner,
    .banner ul li {
        height: Calc(100vh - 117px);
    }

    .banner.internas,
    .banner.internas li {
        height:200px;
    }

    .banner ul img{
        display: none;
    }
    .banner .conteudo {
        top: 10%;
        width: 70%;
    }
    .banner .conteudo .nome {
        font-size: 4vW;
    }
    .banner .conteudo .descricao {
        color: #333;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .scroll-btn{
        display: none;
    }

    .banner #slider_home .owl-dots {
        bottom: 10px;
    }

    .banner .conteudo{
        margin-top: 110px;
        width: 100%;
        text-align: center;
    }

    .banner .conteudo .nome{
        font-size: 16px;
        margin-bottom: 25px;
        text-align: left;
    }

    .banner .conteudo .descricao{
        color: #fff;
        font-size: 29px;
        margin-bottom: 15px;
        text-align: left;
    }

    .banner .conteudo button {
        font-size: 16px;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 768px) {
    .banner .banner_content_box img {
        width: 100%;
        max-width: unset;
    }
}

@media screen and (max-width: 470px) {

    .banner .conteudo{
        width: 100%;
        padding: 0 5%;
    }
    .banner .conteudo .nome {
        font-size: 18px;
    }
}





/*==================================================================================================*/
/*BLOCOS*/
/*==================================================================================================*/


.bloco{
    position: relative;
    width: 100%;
    padding: 85px 0;
    overflow: hidden;
}

.bloco.no-margin{
    padding: 0;
}

.bloco h2{
    font-size: 45px;
    color: #111;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.bloco h3{
    font-size: 25px;
    color: #111;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.bloco h4{
    font-size: 17px;
    color: #111;
}

.bloco p{
    font-size: 17px;
    color: #838383;
}

.bloco hr{
    border-top: 3px solid #dbdbdb;
    width: 400px;
}


@media screen and (max-width: 992px) {

    .bloco{
        padding: 40px 0;
    }

    .bloco hr{
        width: 100px;
    }

    .bloco h2{
        font-size: 25px;
    }

    .bloco p{
        font-size: 15px;
    }
}




/*==================================================================================================*/
/*HOMEPAGE*/
/*==================================================================================================*/

.homepage_title{
    background-color: #91B500;
    padding: 10px 30px;
    color: #fff;
    font-size: 19px;
    text-align: center;
    -webkit-clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);
    clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);
}

.sub_holder .col-md-4{
    margin-bottom: 30px;
}

.single_feedback{
    position: relative;
    bottom: 0;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.single_feedback:hover{
    /*box-shadow: 0 0 20px 0;*/
    /*transform: scale(1.03);*/
    bottom: 10px;
    box-shadow: 0 26px 13px -14px;
}

.single_feedback .anime_img{
    width: 100%;
    height: 200px;
    position: relative;
    cursor: pointer;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.single_feedback .anime_img .feedback_author{
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 10px;
}

.single_feedback .anime_img .feedback_author .author{
    display: inline-flex;
    color: #fff;
}

.single_feedback .anime_img .feedback_author .author .durian{
    color: var(--durian);
}
.single_feedback .anime_img .feedback_author .author .matcha{
    color: var(--matcha);
}
.single_feedback .anime_img .feedback_author .author .redbeanpaste{
    color: var(--redbeanpaste);
}
.single_feedback .anime_img .feedback_author .author .sesame{
    color: var(--sesame);
}
.single_feedback .anime_img .feedback_author .author .iris{
    color: var(--iris);
}

.single_feedback .anime_img .feedback_author .author .author_img{
    width: 50px;
    height: 50px;
    border-radius: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.single_feedback .info{
    background-color: #fff;
    padding: 10px 15px;
    height: 150px;
    position: relative;
}

.single_feedback .info .category_name{
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.single_feedback .info .category_name.durian{
    color: var(--durian);
}
.single_feedback .info .category_name.matcha{
    color: var(--matcha);
}
.single_feedback .info .category_name.redbeanpaste{
    color: var(--redbeanpaste);
}
.single_feedback .info .category_name.sesame{
    color: var(--sesame);
}
.single_feedback .info .category_name.iris{
    color: var(--iris);
}


.single_feedback .info .desc{}

.single_feedback .info .details{
    border-top: 1px solid #d0d0d0;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.single_feedback .info .date{
    margin-top: 10px;
    color: #d0d0d0;
    text-align: right;
}

.single_feedback .info .upvotes{
    color: #d0d0d0;
    margin-top: 10px;
}

.single_feedback .info .upvotes i{
    color: #d0d0d0 !important;
    margin-left: 4px;
}

.single_feedback.not_middle{
    margin: 20px 0;
}

.single_feedback.not_middle .anime_img{
    height: 160px;
}





.updated_holder .col-md-4{
    margin-bottom: 30px;
}

.single_updated{
    position: relative;
    bottom: 0;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.single_updated:hover{
    /*box-shadow: 0 0 20px 0;*/
    /*transform: scale(1.03);*/
    bottom: 10px;
    box-shadow: 0 26px 13px -14px;
}

.single_updated .anime_img{
    width: 100%;
    height: 200px;
    position: relative;
    cursor: pointer;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.single_updated .info{
    background-color: #fff;
    padding: 10px 15px;
    height: 150px;
}

.single_updated .info .anime_name{
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.single_updated .info .anime_name.durian{
    color: var(--durian);
}
.single_updated .info .anime_name.matcha{
    color: var(--matcha);
}
.single_updated .info .anime_name.redbeanpaste{
    color: var(--redbeanpaste);
}
.single_updated .info .anime_name.sesame{
    color: var(--sesame);
}
.single_updated .info .anime_name.iris{
    color: var(--iris);
}


.single_updated .info .desc{}

.single_updated .info .details{
    border-top: 1px solid #d0d0d0;
    margin-top: 10px;
}

.single_updated .info .episodes{
    margin-top: 10px;
    color: #d0d0d0;
    text-align: right;
}

.single_updated .info .type{
    color: #d0d0d0;
    margin-top: 10px;
}

.single_updated.not_middle{
    margin: 20px 0;
}

.single_updated.not_middle .anime_img{
    height: 160px;
}












@media screen and (max-width: 992px){}

@media screen and (max-width: 768px){
    .single_feedback .info,
    .single_updated .info {
        height: 172px;
    }

    .single_feedback .info .desc,
    .single_updated .info .desc {
        height: 80px;
    }
}






/*==================================================================================================*/
/*ANIMES*/
/*==================================================================================================*/

.fakebanner{
    width: 100%;
    height: 230px;
    position: relative;
    overflow: hidden;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;


    /*background: -webkit-linear-gradient(to bottom, #292929, #91B500, #ECECEC);*/
    /*background: linear-gradient(to bottom, #292929, #91B500, #ECECEC);*/
}

.fakebanner .update_msg{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #91B500;
    width: fit-content;
    height: fit-content;
    padding: 10px 30px;
    color: #fff;
    font-size: 19px;
    -webkit-clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);
    clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);
}

.first_bloco{
    padding-top: 0;
    position: relative;
    top: -43px;

}

.all_anime .col-md-4{
    margin-bottom: 30px;
}

.each_anime{
    height: 250px;
    margin: 5px;
    /*border-radius: 5px;*/
    position: relative;
    bottom: 0;
    background-color: #fff;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.each_anime .col-md-6{
    padding: 0;
}

.each_anime:hover{
    /*box-shadow: 0 0 18px -12px;*/
    bottom: 10px;
    box-shadow: 0 26px 13px -14px;
}

.each_anime .image{
    width: 100%;
    height: 250px;
    position: relative;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.each_anime .image .on_list{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 2px 15px;
    color: #fff;
    text-align: center;
    opacity: 0.85;
}

.each_anime .image .on_list.matcha{background-color: var(--matcha);}
.each_anime .image .on_list.durian{background-color: var(--durian);}
.each_anime .image .on_list.iris{background-color: var(--iris);}
.each_anime .image .on_list.redbeanpaste{background-color: var(--redbeanpaste);}

.each_anime .overlay{
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: #fff;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
}

.each_anime .overlay.has_sinopsis{
    padding-right: 55px;
}

.each_anime .synopsis_btn{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 13px 18px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.each_anime .synopsis_btn i{
    position: relative;
    bottom: 0;
    color: #fff !important;
    font-size: 22px;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.each_anime .synopsis_btn:hover i{
    bottom: 5px;
}


.each_anime .synopsis{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    padding: 15px;
    border-radius: 5px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.each_anime .synopsis.disp_none{
    top: 250px;
}

.each_anime .synopsis i{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff !important;
    font-size: 22px;
    cursor: pointer;
    z-index: 3;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.each_anime .synopsis i:hover{
    transform: rotate(180deg);
}

.each_anime .synopsis .synopsis_inner_text{
    overflow-y: scroll;
    color: #fff;
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    padding-left: 15px;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*parte que nao tem o scroll*/
.each_anime .synopsis .synopsis_inner_text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: transparent;
}

/*barra no seu total - everything*/
.each_anime .synopsis .synopsis_inner_text::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

/*o scroll*/
.each_anime .synopsis .synopsis_inner_text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #fff;
    background-color: #fff;
}


.each_anime .overlay.durian{
    background-color: rgba(225, 189, 39, 0.7);
}
.each_anime .overlay.matcha{
    background-color: rgba(145, 181, 0, 0.7);
}
.each_anime .overlay.redbeanpaste{
    background-color: rgba(176, 119, 119, 0.7);
}
.each_anime .overlay.sesame{
    background-color: rgba(187, 159, 120, 0.7);
}
.each_anime .overlay.iris{
    background-color: rgba(45, 96, 168, 0.7);
}

.each_anime .overlay_18{
    background-color: rgba(0, 0, 0, 0.93);
    color: #fff;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 3px;
    text-align: center;
}

.each_anime .overlay_18 img{
    width: 75%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.each_anime .body{
    padding: 10px;
    height: 197px;
    overflow-y: scroll;
}

/*parte que nao tem o scroll*/
.each_anime .body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: transparent;
}

/*barra no seu total - everything*/
.each_anime .body::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

/*o scroll*/
.each_anime .body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
}

.each_anime .body .type{
    text-align: center;
    padding: 5px 0;
    margin-bottom: 10px;
    position: relative;
}

.each_anime .body .type:after{
    content: '';
    width: 85%;
    height: 3px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
}

.each_anime .body .type.durian:after{
    background: #e1bd27;
}
.each_anime .body .type.matcha:after{
    background: #91b500;
}
.each_anime .body .type.redbeanpaste:after{
    background: #b07777;
}
.each_anime .body .type.sesame:after{
    background: #bb9f78;
}
.each_anime .body .type.iris:after{
    background: #2D60A8;
}

.each_anime .body .studio{
    background-color: var(--grey);
    color: #fff;
    padding: 0 8px;
    margin-bottom: 3px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);
    clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);
}

.each_anime .body .genre{
    /*background-color: #de0f0f;*/
    /*color: #fff;*/
    background-color: #c1c1c1;
    color: #000;
    padding: 0 8px;
    margin-bottom: 3px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);
    clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);
}



.active_label{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #91B500;
    width: fit-content;
    height: fit-content;
    padding: 10px 30px;
    color: #fff;
    font-size: 19px;
    clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);
    -webkit-clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);
}

#btn_open_sorting{
    position: fixed;
    right: 10px;
    bottom: 73px;
    border: 2px solid #57690d;
    border-radius: 100%;
    padding: 10px 13px;
    background-color: #91B500;
    cursor: pointer;
    z-index: 12;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

#btn_open_sorting:hover{
    background-color: #57690d;
}

#btn_open_sorting i{
    font-size: 25px;
    color: #fff !important;
}

#sorting_bar{
    position: fixed;
    width: 200px;
    right: -210px;
    top: 0;
    bottom: 0;
    padding: 30px 0;
    z-index: 11;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    /*border: 2px solid #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;*/


    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

#sorting_bar.open{
    right: 0;
}

#sorting_bar .filters{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    box-shadow: 5px -5px 20px -5px;
}

#sorting_bar .each_filter{
    padding: 10px 10px;
    border-top: 1px solid var(--matcha);
    border-left: 1px solid var(--matcha);
    position: relative;
    cursor: pointer;
    color: var(--matcha);
    background-color: #fff;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

#sorting_bar .each_filter:hover{
    background-color: var(--matcha);
    color: #fff;
}

#sorting_bar .each_filter:hover:first-child{
    background-color: #fff;
    color: var(--matcha);
}

#sorting_bar .each_filter:hover i{
    color: #fff !important;
}

#sorting_bar .each_filter:first-child{
    border-top-left-radius: 5px;
}

#sorting_bar .each_filter:last-child{
    border-bottom: 1px solid var(--matcha);
    border-bottom-left-radius: 5px;
}

#sorting_bar .each_filter i{
    position: absolute;
    right: 15px;
    top: 11px;
    font-size: 18px;
    color: var(--matcha) !important;
}

#sorting_bar .each_filter:first-child i{
    font-size: 13px;
    top: 14px;
}

#sorting_bar .each_filter:hover:first-child i{
    color: var(--matcha) !important;
}

#sorting_bar .each_filter.search_by input{
    border: none;
}

.loading_spinner{
    text-align: center;
    margin-top: 5px;
}

.loading_spinner i{
    font-size: 30px;
    color: #fff !important;
}

.msg_no_results{
    text-align: center;
    margin-top: 65px;
    font-size: 18px;
    color: #b07777;
}

#sorting_bar .each_filter .select_tpp,
#sorting_bar .each_filter .select_genre,
#sorting_bar .each_filter .select_studios{
    border: none;
    color: var(--matcha);
    background-color: transparent;
    width: 100%;
    cursor: pointer;
}

#sorting_bar .each_filter:hover .select_tpp,
#sorting_bar .each_filter:hover .select_genre,
#sorting_bar .each_filter:hover .select_studios{
    color: #fff;
}

#sorting_bar .each_filter .select_tpp:focus,
#sorting_bar .each_filter .select_genre:focus,
#sorting_bar .each_filter .select_studios:focus{
    outline: 0;
}







.page_number{
    padding: 5px;
    border: 1px solid #000;
    border-radius: 0;
}

.pagination_master{
    position: relative;
    bottom: 20px;
}

.pagination li{
    color: #000;
}

.pagination li.active_pag span{
    margin: 0 6px !important;
    border-radius: 30px !important;
}

.pagination li span.link_pag{
    cursor: pointer;
}







@media screen and (max-width: 992px){}





/*==================================================================================================*/
/*ANIME DETAIL*/
/*==================================================================================================*/

.anime_detail{
    border-radius: 5px;
}

.anime_detail .image{}

.anime_detail .image2{
    width: 100%;
    height: 330px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    /*clip-path: ellipse(99% 66% at 50% 70%);
    -webkit-clip-path: ellipse(99% 66% at 50% 70%);*/
}

.anime_detail .image2 .type_list_label{
    position: absolute;
    bottom: 35px;
    right: -32px;
    /*background-color: red;*/
    padding: 2px 35px;
    transform: rotate(-45deg);
    color: #fff;
    width: 157px;
    text-align: center;

    clip-path: polygon(0 0, 100% 0%, Calc(100% - 23px) 100%, 23px 100%);
    -webkit-clip-path: polygon(0 0, 100% 0%, Calc(100% - 23px) 100%, 23px 100%);
}


.anime_detail .image2 .type_list_label.durian{
    background-color: var(--durian);
}
.anime_detail .image2 .type_list_label.matcha{
    background-color: var(--matcha);
}
.anime_detail .image2 .type_list_label.redbeanpaste{
    background-color: var(--redbeanpaste);
}
.anime_detail .image2 .type_list_label.iris{
    background-color: var(--iris);
}




.anime_detail .btn_trailer{
    text-align: center;
    padding: 10px 20px;
    width: 145px;
    margin: auto;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color: #FF0000;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.anime_detail .btn_trailer:hover{
    width: 100%;
}

.anime_detail .image img{
    width: 100%;
}

.anime_detail .anime_info{
    margin-top: 58px;
}

.anime_detail .anime_info .name{
    font-size: 19px;
}

.anime_detail .anime_info .name span{
    font-size: 14px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    bottom: 2px;
    margin-left: 5px;
}

.anime_detail .anime_info .name span.durian{
    background-color: #e1bd27;
}
.anime_detail .anime_info .name span.matcha{
    background-color: #91b500;
}
.anime_detail .anime_info .name span.redbeanpaste{
    background-color: #b07777;
}
.anime_detail .anime_info .name span.sesame{
    background-color: #bb9f78;
}
.anime_detail .anime_info .name span.iris{
    background-color: #2D60A8;
}

.anime_detail .anime_info .eng_name{
    font-size: 14px;
    margin-bottom: 5px;
    color: #676767;
}

.anime_detail .anime_info .start_date{
    font-size: 12px;
    font-style: italic;
    margin-left: 5px;

}

.anime_detail .anime_info .synopsis{
    font-size: 16px;
    margin-top: 10px;
}

.anime_detail .anime_info .synopsis .synopsis_title{
    font-size: 19px;
    padding: 0 25px;
    margin-bottom: 5px;
    position: relative;
    display: table;
}

.anime_detail .anime_info .synopsis .synopsis_title:before,
.anime_detail .anime_info .synopsis .synopsis_title:after{
    content: '';
    width: 18px;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.anime_detail .anime_info .synopsis .synopsis_title:before{
    left: 0;
}

.anime_detail .anime_info .synopsis .synopsis_title:after{
    right: 0;
}

.anime_detail .anime_info .title_label{
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom-left-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
}

.anime_detail .anime_info .studio{
    background-color: var(--grey);
    color: #fff;
    padding: 5px 20px;
    margin-bottom: 3px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);
    -webkit-clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.anime_detail .anime_info .genre{
    background-color: #fff;
    color: #000;
    padding: 5px 20px;
    margin-bottom: 3px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);
    -webkit-clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.anime_detail .anime_info .score{
    font-size: 14px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    bottom: 2px;
    margin-left: 5px;
    width: fit-content;
}

.anime_detail .anime_info .score.durian{
    background-color: #e1bd27;
}
.anime_detail .anime_info .score.matcha{
    background-color: #91b500;
}
.anime_detail .anime_info .score.redbeanpaste{
    background-color: #b07777;
}

.anime_detail .anime_info .all_studios>a>span,
.anime_detail .anime_info .all_genres>a>span{
    display: inline-block;
}

.anime_detail .anime_info .youtube_video{
    display: none;
}

.anime_detail .anime_info .youtube_video iframe{
    width: 350px;
    height: 200px;
}

.anime_detail #add_to_list{
    position: relative;
}

.anime_detail #add_to_list .btn_add_to_list{
    text-align: center;
    padding: 10px 7px;
    padding-right: 40px;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color: #698207;
    position: relative;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.anime_detail #add_to_list .btn_add_to_list:hover{
    background-color: #4b5f00;
}

.anime_detail #add_to_list .btn_add_to_list i{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    color: #fff !important;
    background-color: #4b5f00;
    padding: 12px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.anime_detail #add_to_list .lists{
    margin-top: 5px;
}

.anime_detail #add_to_list .lists .select_list{
    text-align: center;
    padding: 10px 7px;
    padding-right: 40px;
    width: 100%;
    margin: auto;
    color: #fff;
    cursor: pointer;
    position: relative;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.anime_detail #add_to_list .lists .select_list i{
    position: absolute;
    right: 10px;
    top: 12px;
    color: #fff !important;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}


.anime_detail #add_to_list .lists .select_list:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.anime_detail #add_to_list .lists .select_list:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.anime_detail #add_to_list .lists .select_list.matcha{
    background-color: var(--matcha);
}
.anime_detail #add_to_list .lists .select_list.durian{
    background-color: var(--durian);
}
.anime_detail #add_to_list .lists .select_list.iris{
    background-color: var(--iris);
}
.anime_detail #add_to_list .lists .select_list.redbeanpaste{
    background-color: var(--redbeanpaste);
}

.anime_detail #add_to_list .lists .select_list:hover i{
    right: 20px;
}

.anime_detail .similar_animes{}

.anime_detail .similar_animes .title{
    font-size: 17px;
}

.anime_detail .similar_animes .other_img{
    width: 100%;
    height: 230px;
    position: relative;
    box-shadow: 10px -3px 13px -5px;
    margin: 10px 0;
    overflow: hidden;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.anime_detail .similar_animes .other_img .other_overlay{
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.anime_detail .similar_animes .other_img:hover .other_overlay{
    top: 0;
}

.anime_detail .similar_animes .other_img .other_overlay .other_name{
    height: fit-content;
    position: absolute;
    top: 15px;
    left: 10px;
    right: 10px;
    bottom: 15px;
    color: #fff;
    margin: auto;
    text-align: center;
}

.anime_detail .similar_animes .other_img .other_overlay .other_name .other_type{
    padding: 2px 10px;
    border-radius: 5px;
}

.anime_detail .similar_animes .other_img .other_overlay .other_name .other_type.matcha_t{
    background-color: var(--matcha);
}
.anime_detail .similar_animes .other_img .other_overlay .other_name .other_type.durian_t{
    background-color: var(--durian);
}
.anime_detail .similar_animes .other_img .other_overlay .other_name .other_type.sesame_t{
    background-color: var(--sesame);
}
.anime_detail .similar_animes .other_img .other_overlay .other_name .other_type.redbeanpaste_t{
    background-color: var(--redbeanpaste);
}
.anime_detail .similar_animes .other_img .other_overlay .other_name .other_type.iris_t{
    background-color: var(--iris);
}

.anime_detail .similar_animes .other_img .related_label{
    background-color: rgba(37, 34, 34, 0.8);
    color: #fff;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.anime_detail .btn_mal{
    text-align: center;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    color: #fff;
    background-color: #2E51A2;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.anime_detail .btn_mal:hover{
    background-color: #0f2e75;
}

.anime_detail .btn_nya{
    text-align: center;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    color: #fff;
    background-color: #E1BD27;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.anime_detail .btn_nya:hover{
    background-color: #d4af15;
}

.anime_detail .btn_filler{
    text-align: center;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    color: #fff;
    background-color: #b07777;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.anime_detail .btn_filler:hover{
    background-color: #b55f5f;
}






.anime_detail .anime_info .on_a_list{
    background-color: #fff;
    padding: 5px 15px;
    position: relative;

    clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);
    -webkit-clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);
}

.anime_detail .anime_info .on_a_list .personal_eps{
    margin-left: 10px;
}

.anime_detail .anime_info .on_a_list .personal_eps .ep_target{
    border-radius: 0;
    border-bottom: 1px solid #fff;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.anime_detail .anime_info .on_a_list .personal_eps .ep_target:hover{
    border: 0;
    border-bottom: 1px solid #b3b3b3;
}

.anime_detail .anime_info .on_a_list .personal_eps i{

}

.anime_detail .anime_info .on_a_list .personal_eps i.matcha{
    color: var(--matcha) !important;
}
.anime_detail .anime_info .on_a_list .personal_eps i.durian{
    color: var(--durian) !important;
}

.anime_detail .anime_info .on_a_list .personal_eps span:nth-child(4){
    margin-left: 10px;
}

.anime_detail .anime_info .on_a_list .personal_score{
    padding: 0 5px;
    font-size: 13px;
    border: 0;
    border-bottom: 1px solid #fff;
    border-radius: 3px;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.anime_detail .anime_info .on_a_list .personal_score.changed{
    background-color: #d6ff9f;
}

.anime_detail .anime_info .on_a_list .personal_score:hover{
    border-bottom: 1px solid #b3b3b3;
}

.anime_detail .anime_info .on_a_list .select_overlay{
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 17px;
    margin: auto;
    text-align: center;
    height: 24px;
    width: 131px;
    border-radius: 3px;
}

.anime_detail .anime_info .on_a_list .select_overlay i{
    color: #fff !important;
    font-size: 14px;
}

.anime_detail .anime_info .on_a_list .personal_score .bad{
    background-color: var(--redbeanpaste_t);
}
.anime_detail .anime_info .on_a_list .personal_score .average{
    background-color: var(--durian_t);
}
.anime_detail .anime_info .on_a_list .personal_score .good{
    background-color: var(--matcha_t);
}

.anime_detail .anime_info .on_a_list .personal_score .bad,
.anime_detail .anime_info .on_a_list .personal_score .average,
.anime_detail .anime_info .on_a_list .personal_score .good{
    padding: 3px 0;
}


.anime_detail .anime_help_btns_rowed{
    display: none;
}



@media screen and (max-width: 992px){}

@media screen and (max-width: 768px){
    .anime_detail .image2 {
        width: 200px;
        margin: auto;
    }

    .anime_detail .btn_mal,
    .anime_detail .btn_nya,
    .anime_detail .btn_filler,
    .anime_detail .btn_trailer:hover,
    .anime_detail #add_to_list .btn_add_to_list{
        width: 75%;
    }

    .anime_detail #add_to_list .lists{
        width: 75%;
        margin: auto;
        margin-top: 8px;
    }

    .anime_detail .anime_info .synopsis .synopsis_title {
        margin: auto;
        margin-bottom: 10px;
    }

    .anime_detail .anime_info .name,
    .anime_detail .anime_info .eng_name,
    .anime_detail .anime_info .start_date,
    .anime_detail .anime_info .all_studios,
    .anime_detail .anime_info .all_genres,
    .anime_detail .anime_info .on_a_list{
        text-align: center;
    }

    .anime_detail .anime_info .score{
        text-align: center;
        margin: auto;
    }

    .anime_detail .anime_info .on_a_list_holder{
        text-align: center;
    }

    .anime_help_btns{
        display: none;
    }

    .anime_detail .anime_info {
        margin-top: 30px;
    }

    .anime_detail .anime_help_btns_rowed{
        display: block;
    }
    .anime_detail .anime_help_btns_rowed table{
        margin: auto;
    }
    .anime_detail .anime_help_btns_rowed table tr{
        /*border: 1px solid #000;*/
    }
    .anime_detail .anime_help_btns_rowed table tr td{
        padding: 10px;
        /*border-right: 1px solid #000;*/
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 0;
    }

    .anime_detail .anime_help_btns_rowed table tr td:first-child{
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
    .anime_detail .anime_help_btns_rowed table tr td:last-child{
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }

    .anime_detail .anime_help_btns_rowed .btn_trailer2{
        text-align: center;
        padding: 10px;
        margin: auto;
        color: #fff;
        background-color: #FF0000;

        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .anime_detail .anime_help_btns_rowed .btn_trailer2:hover{
        background-color: #da0000;
    }

    .anime_detail .anime_info .on_a_list .personal_eps i {
        font-size: 18px;
        position: relative;
        top: 2px;
    }


}





/*==================================================================================================*/
/*ANIME COMMENTS*/
/*==================================================================================================*/

.comments{}

.comments .comment{
    margin-bottom: 15px;
}

.comments .comment .disp_inline_flex{}

.comments .comment .parent_comment_user{
    /* margin: auto; */
    padding: 0 15px;
}

.comments .comment .parent_comment_user .parent_comment_user_img{
    width: 80px;
    height: 80px;
    border-radius: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.comments .comment .parent_comment{
    background-color: #fff;
    padding: 10px 30px;
    /*width: Calc(100% - 125px);*/
    min-width: 300px;
    position: relative;

    -webkit-clip-path: polygon(20px 0, 100% 0%, 100% 100%, 20px 100%, 20px 60px, 0 40px, 20px 20px);
    clip-path: polygon(20px 0, 100% 0%, 100% 100%, 20px 100%, 20px 60px, 0 40px, 20px 20px);
}

.comments .comment .parent_comment .parent_comment_content{
    font-size: 14px;
}

.comments .comment .parent_comment .details{
    margin-top: 20px;
    position: relative;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    font-size: 14px;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.comments .comment .parent_comment:hover .details{
    border-top: 1px solid var(--matcha);
}

.comments .comment .parent_comment .details .username{
    color: #d0d0d0;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.comments .comment .parent_comment:hover .details .username{
    color: var(--matcha);
}

.comments .comment .parent_comment .details .date{
    color: #d0d0d0;
    font-style: italic;
}

.comments .comment .parent_comment .details .upvotes{
    position: absolute;
    right: 38px;
    top: 19px;
    bottom: 0;
}

.comments .comment .parent_comment .details i{
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 17px;
    bottom: 0;
    cursor: pointer;
    color: #000 !important;
}

.comments .comment .parent_comment .details i.fa-thumbs-up{
    color: #91B500 !important;
}

.comments .comment .parent_comment .delete_comment{
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 18px;
    cursor: pointer;
}

.comments .comment .parent_comment .delete_comment i{
    color: #b07777 !important;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.comments .comment .parent_comment .delete_comment:hover i{
    transform: rotate(90deg);
}


.comments .comment.insert{
    height: 230px;
}

.comments .comment.insert .parent_comment_user{
    position: absolute;
    top: 0;
    left: 0;
}

.comments .comment.insert .parent_comment{
    position: absolute;
    top: 0;
    right: 0;
    left: 110px;
}

.comments .comment.insert .parent_comment .details i {
    top: 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.comments .comment.insert .parent_comment .details i:hover{
    color: var(--matcha) !important;
}

.comments .comment.insert #form_comment{}

.comments .comment.insert #form_comment textarea{
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    width: 100%;
    position: relative;
    padding: 5px 15px;
    margin-bottom: 10px;
    resize: none;
    box-shadow: none;
}

.comments .comment.insert #form_comment #comment_response{
    font-weight: bold;
    color: #b07777;
    margin-top: 10px;
    text-align: center;
}



.classyedit {
    border: none;
    width: unset;
}

.classyedit .toolbar{
    height: 0 !important;
}

.classyedit .toolbar:selected{
    height: 0 !important;
}


@media screen and (max-width: 992px){
    .comments .comment .disp_inline_flex{
        /*display: block !important;*/
    }

    .comments .comment .parent_comment_user .parent_comment_user_img {
        width: 45px;
        height: 45px;
    }

    .comments .comment .parent_comment {
        -webkit-clip-path: polygon(20px 0, 100% 0%, 100% 100%, 20px 100%, 20px 38px, 0 25px, 20px 12px);
        clip-path: polygon(20px 0, 100% 0%, 100% 100%, 20px 100%, 20px 38px, 0 25px, 20px 12px);
    }

    .comments .comment .parent_comment .parent_comment_content {
        font-size: 12px;
    }

    .comments .comment .parent_comment .details {
        font-size: 12px;
    }

    .comments .comment .parent_comment .details i {
        font-size: 16px;
        right: 13px;
        top: 18px;
    }

    .comments .comment.insert .parent_comment {
        left: 75px;
    }
}





/*==================================================================================================*/
/*PROFILE*/
/*==================================================================================================*/




#edit_profile{}

#edit_profile .each_field{}

#edit_profile .each_field button{
    padding: 10px 15px;
    border-radius: 5px;
    border: 0;
    background-color: #5094fa;
    color: #fff;
}

#edit_profile .each_field label{
    color: #fff;
}

#edit_profile .each_field input{
    background-color: #383838;
    border: 0;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 42px;
    color: #fff;
    margin-top: 5px;
}

#file_image_clone{
    position: absolute;
    right: 15px;
    left: 15px;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #91B500;
    color: #fff;
    font-family: "Montserrat";
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    padding: 15px 15px;

    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    transition: all .7s;
}

#file_image_clone:hover{
    background-color: #567700;
}

#file_image_clone i{
    color: #fff !important;
}

.each_theme_type{
    margin-bottom: 10px;
}

.each_theme_type .theme_type_img {
    width: 100%;
    border-radius: 10px;
    margin: 5px 0;
    cursor: pointer;
    text-align: center;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.each_theme_type .theme_type_img img{
    width: 100%;
    /*height: 135px;*/
}

.each_theme_type .theme_type_img.active.default{
    box-shadow: 0 0 20px 0px #fff;
}
.each_theme_type .theme_type_img.active.durian{
    box-shadow: 0 0 20px 0px var(--durian);
}
.each_theme_type .theme_type_img.active.redbeanpaste{
    box-shadow: 0 0 20px 0px var(--redbeanpaste);
}
.each_theme_type .theme_type_img.active.matcha{
    box-shadow: 0 0 20px 0px var(--matcha);
}
.each_theme_type .theme_type_img.active.sesame{
    box-shadow: 0 0 20px 0px var(--sesame);
}
.each_theme_type .theme_type_img.active.iris{
    box-shadow: 0 0 20px 0px var(--iris);
}

.each_theme_type .theme_type_img:hover.default{
    box-shadow: 0 0 20px 0px #fff;
}
.each_theme_type .theme_type_img:hover.durian{
    box-shadow: 0 0 20px 0px var(--durian);
}
.each_theme_type .theme_type_img:hover.redbeanpaste{
    box-shadow: 0 0 20px 0px var(--redbeanpaste);
}
.each_theme_type .theme_type_img:hover.matcha{
    box-shadow: 0 0 20px 0px var(--matcha);
}
.each_theme_type .theme_type_img:hover.sesame{
    box-shadow: 0 0 20px 0px var(--sesame);
}
.each_theme_type .theme_type_img:hover.iris{
    box-shadow: 0 0 20px 0px var(--iris);
}

.each_theme_type .theme_type_name{
    font-size: 16px;
    /* text-transform: uppercase; */
    margin-top: 10px;
    text-align: center;
}

.each_theme_type .theme_type_name.default{
    color: #fff;
}
.each_theme_type .theme_type_name.durian{
    color: var(--durian);
}
.each_theme_type .theme_type_name.redbeanpaste{
    color: var(--redbeanpaste);
}
.each_theme_type .theme_type_name.matcha{
    color: var(--matcha);
}
.each_theme_type .theme_type_name.sesame{
    color: var(--sesame);
}
.each_theme_type .theme_type_name.iris{
    color: var(--iris);
}


.each_anime_page_type{
    margin-bottom: 10px;
}

.each_anime_page_type .anime_page_type_img{
    width: 100%;
    height: 185px;
    border-radius: 10px;
    margin: 5px 0;
    cursor: pointer;
    text-align: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.each_anime_page_type .anime_page_type_img.active{
    box-shadow: 0 0 20px 0px #fff;
}

.each_anime_page_type .anime_page_type_img:hover{
    box-shadow: 0 0 20px 0px #fff;
}

.each_anime_page_type .anime_page_type_name{
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    text-align: center;
}











@media screen and (max-width: 992px){

}





/*==================================================================================================*/
/*MY LISTS*/
/*==================================================================================================*/

.lists_names{
    text-align: center;
    margin-top: 3px;
}

.lists_names .each_list{
    padding: 10px 20px;
    display: inline-block;
    color: #000;
    cursor: pointer;
    background-color: #fff;
    position: relative;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.lists_names .each_list:hover,
.lists_names .each_list.active{
    background-color: #e8e8e8;
}

.lists_names .each_list:after{
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.lists_names .each_list.active:after,
.lists_names .each_list:hover:after{
    height: 8px;
}

.lists_names .each_list.matcha:after{
    background: var(--matcha);
}
.lists_names .each_list.durian:after{
    background: var(--durian);
}
.lists_names .each_list.iris:after{
    background: var(--iris);
}
.lists_names .each_list.redbeanpaste:after{
    background: var(--redbeanpaste);
}
.lists_names .each_list.sesame:after{
    background: var(--sesame);
}

.lists_names .each_list:first-child{
    clip-path: polygon(5px 0, 100% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(5px 0, 100% 0%, 100% 100%, 0% 100%);
}

.lists_names .each_list:last-child{
    clip-path: polygon(0 0, Calc(100% - 5px) 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, Calc(100% - 5px) 0%, 100% 100%, 0% 100%);
}

.list_table{
    margin-top: 5px !important;
}

.dataTable .even{
    background-color: #f9f9f9;
}

.dataTable .changed{
    background-color: #d6ff9f;
}

.dataTable .switched{
    background-color: rgba(225, 189, 39, 0.45);
}

.dataTable .deleted{
    background-color: rgba(255, 0, 0, 0.35);
}

.actions i{
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.actions i:first-child{
    margin-right: 0;
}

.actions i.durian{
    color: var(--durian) !important;
}
.actions i.matcha{
    color: var(--matcha) !important;
}
.actions i.redbeanpaste{
    color: var(--redbeanpaste) !important;
}
.actions i.sesame{
    color: var(--sesame) !important;
}
.actions i.iris{
    color: var(--iris) !important;
}


.dataTable.durian thead th{
    background-color: var(--durian) !important;
}
.dataTable.matcha thead th{
    background-color: var(--matcha) !important;
}
.dataTable.redbeanpaste thead th{
    background-color: var(--redbeanpaste) !important;
}
.dataTable.sesame thead th{
    background-color: var(--sesame) !important;
}
.dataTable.iris thead th{
    background-color: var(--iris) !important;
}

.dataTables_wrapper .dataTables_filter input{
    clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);
    -webkit-clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);
    margin: 0;
    border: 0;
    margin-left: 10px;
    padding: 5px 10px;
}

.dataTable  .no_hover a:hover{
    color: #000;
}

.ep_target{
    width: 37px;
    padding: 0 5px;
    text-align: center;
    border-radius: 5px;
    border: 0;
    background-color: transparent;
}

.ep_target:hover,
.ep_target:focus{
    border: 1px solid #5f5f5f;
}

.popover-content{
    padding: 0;
}

.popover-content div{
    display: none;
}

.popover_select{}

.popover-content .popover_select{
    display: block;
    padding: 5px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    color: #000;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.popover-content .popover_select:last-child{
    border-bottom: 0;
}

.popover-content .popover_select:hover{
    color: #fff;
}
.popover-content .popover_select.durian_t:hover{
    background-color: var(--durian);
}
.popover-content .popover_select.matcha_t:hover{
    background-color: var(--matcha);
}
.popover-content .popover_select.redbeanpaste_t:hover{
    background-color: var(--redbeanpaste);
}
.popover-content .popover_select.iris_t:hover{
    background-color: var(--iris);
}


.list_table .row_anime .personal_score{
    padding: 3px 5px;
    font-size: 13px;
    border: 1px solid #929292;
    border-radius: 3px;
    background-color: transparent;
    width: 100%;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.list_table .row_anime .select_overlay{
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    margin: auto;
    text-align: center;
    height: 24px;
    border-radius: 3px;
}

.list_table .row_anime .select_overlay.changed{
    background-color: #d6ff9f;
}

.list_table .row_anime .select_overlay i{
    color: #fff !important;
    font-size: 14px;
}



.list_table .row_anime .personal_score .bad{
    background-color: var(--redbeanpaste_t);
}
.list_table .row_anime .personal_score .average{
    background-color: var(--durian_t);
}
.list_table .row_anime .personal_score .good{
    background-color: var(--matcha_t);
}

.list_table .row_anime .personal_score .bad,
.list_table .row_anime .personal_score .average,
.list_table .row_anime .personal_score .good{
    padding: 3px 0;
}







@media screen and (max-width: 992px){
    .list_table .row_anime .listed_anime_name,
    .list_table .row_anime .listed_anime_score,
    .list_table .row_anime .listed_anime_eps_seen,
    .dataTable.matcha thead th,
    .list_table .row_anime .eps,
    .actions i,
    .list_table .dataTables_wrapper .dataTables_filter{
        font-size: 12px;
    }

    .lists_names .each_list {
        font-size: 12px;
        padding: 8px 10px;
    }

    .lists_names .each_list:after{
        height: 3px;
    }

    .lists_names .each_list.active:after,
    .lists_names .each_list:hover:after{
        height: 6px;
    }

    .first_bloco {
        top: -36px;
    }

    .mobile_lists{
        display: block;
    }

    .list_table .row_anime .personal_score{
        width: 49px;
        font-size: 10px;
        padding: 3px 2px;
    }

    .actions i {
        margin-right: 0;
    }

}

@media screen and (max-width: 768px){
    .actions i {
        font-size: 18px;
    }
}





/*==================================================================================================*/
/*SUBMISSIONS*/
/*==================================================================================================*/

#edit_submission{}

#edit_submission .each_row{
    margin-bottom: 25px !important;
}

#edit_submission #studios,
#edit_submission #genres{
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--light_grey);
    margin: auto;
    display: inline-block;
    width: -webkit-fill-available;
}

#edit_submission .studio,
#edit_submission .genre{
    background-color: #fff;
    color: #000;
    padding: 5px 20px;
    margin: 5px;
    float: left;
    margin-bottom: 3px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 3px;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;

    /*clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);*/
    /*-webkit-clip-path: polygon(5px 0, 100% 0%, Calc(100% - 5px) 100%, 0% 100%);*/
}





@media screen and (max-width: 992px){}




/*==================================================================================================*/
/*EDIT RELATIONS*/
/*==================================================================================================*/

#get_animes{
    width: 100%;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
}

#get_animes_target{
    margin-top: 30px;
}

#get_animes_target .each_holder{
    margin-bottom: 30px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

#get_animes_target .each_holder:hover,
#get_animes_target .each_holder.selected{
    border: 2px solid #000;
}

#get_animes_target .each_holder.is_prequel{border: 2px solid var(--durian);}
#get_animes_target .each_holder.is_sequel{border: 2px solid var(--matcha);}
#get_animes_target .each_holder.is_other{border: 2px solid var(--redbeanpaste);}

#get_animes_target .each_holder .cover{
    width: 100%;
    height: 175px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#get_animes_target .each_holder .name{
    background-color: #fff;
    padding: 10px 5px;
    height: 100px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn_relations{
    text-align: center;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    color: #fff;
    border: 0;
    width: 100%;
    text-align: center;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.btn_relations.add_prequels{background-color: var(--durian);}
.btn_relations.add_sequels{background-color: var(--matcha);}
.btn_relations.add_others{background-color: var(--redbeanpaste);}




/*==================================================================================================*/
/*NAKAMA*/
/*==================================================================================================*/

.nakama_face{}

.fakebanner .nakama_face{
    position: absolute;
    right: 0;
    left: 50%;
    top: 0;
    bottom: 0;
    text-align: right;
}

.fakebanner .nakama_face img{
    height: 100%;
}


@media screen and (max-width: 992px){}





/*==================================================================================================*/
/*SEASON*/
/*==================================================================================================*/



.anime_types{
    text-align: center;
    margin-top: 5px;
}

.anime_types .each_type{
    padding: 10px 20px;
    display: inline-block;
    color: #000;
    cursor: pointer;
    background-color: #fff;
    position: relative;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.anime_types .each_type:hover,
.anime_types .each_type.active{
    background-color: #e8e8e8;
}

.anime_types .each_type:after{
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.anime_types .each_type.active:after,
.anime_types .each_type:hover:after{
    height: 8px;
}

.anime_types .each_type.matcha:after{
    background: var(--matcha);
}
.anime_types .each_type.durian:after{
    background: var(--durian);
}
.anime_types .each_type.iris:after{
    background: var(--iris);
}
.anime_types .each_type.redbeanpaste:after{
    background: var(--redbeanpaste);
}
.anime_types .each_type.sesame:after{
    background: var(--sesame);
}

.anime_types .each_type:first-child{
    clip-path: polygon(5px 0, 100% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(5px 0, 100% 0%, 100% 100%, 0% 100%);
}

.anime_types .each_type:last-child{
    clip-path: polygon(0 0, Calc(100% - 5px) 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, Calc(100% - 5px) 0%, 100% 100%, 0% 100%);
}

.anime_type_header{
    color: #fff;
    text-align: center;
    background-color: green;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 15px 20px;
}

.anime_type_holder{}



#sorting_bar .filters_season{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    box-shadow: 5px -5px 20px -5px;
}

#sorting_bar .filters_season .each_filter{
    padding: 10px 10px;
    border-top: 1px solid green;
    border-left: 1px solid green;
    position: relative;
    cursor: pointer;
    color: green;
    background-color: #fff;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

#sorting_bar .filters_season .each_filter:hover{
    background-color: green;
    color: #fff;
}

#sorting_bar .filters_season .each_filter:first-child{
    border-top-left-radius: 5px;
}

#sorting_bar .filters_season .each_filter:last-child{
    border-bottom: 1px solid green;
    border-bottom-left-radius: 5px;
}

#sorting_bar .filters_season .each_filter .select_stations,
#sorting_bar .filters_season .each_filter .select_years{
    border: none;
    color: green;
    background-color: transparent;
    width: 100%;
    cursor: pointer;
}

#sorting_bar .filters_season .each_filter:hover .select_stations,
#sorting_bar .filters_season .each_filter:hover .select_years{
    color: #fff;
}

#sorting_bar .filters_season .each_filter .select_stations:focus,
#sorting_bar .filters_season .each_filter .select_years:focus{
    outline: 0;
}






@media screen and (max-width: 992px){}

@media screen and (max-width: 768px){
    .anime_types .each_type {
        padding: 6px 13px;
    }
}





/*==================================================================================================*/
/*SCHEDULE*/
/*==================================================================================================*/

.entry-content{}
.entry-content .weekday{
    background-color: #fff;
    padding: 5px;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    font-size: 24px;
}
.entry-content .table{}
.entry-content .table.table-hover{}
.entry-content .table.table-hover:hover{}
.entry-content .table .schedule-page-item{}
.entry-content .table .schedule-page-item .schedule-page-show{}
.entry-content .table .schedule-page-item .schedule-time{
    width: 100px;
    text-align: center;
}




@media screen and (max-width: 992px){}




/*==================================================================================================*/
/*HELP*/
/*==================================================================================================*/

.fakebanner .luffy{
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
    text-align: left;
}

.fakebanner .uraraka{
    position: absolute;
    right: 0;
    left: 50%;
    top: 0;
    bottom: 0;
    text-align: right;
}

.fakebanner .luffy img,
.fakebanner .uraraka img{
    height: 100%;
}

#help .title{
    font-size: 18px;
    text-align: center;
    position: relative;
    margin-bottom: 45px;
}

#help .title:after{
    content: '';
    width: 30%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -7px;
    right: 0;
    background-color: var(--matcha);
    margin: auto;

    /*-webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;*/
}

#help .warnings{
    font-size: 14px;
    color: var(--redbeanpaste);
    font-weight: unset;
}

#help #form_ticket label{}

#help #form_ticket select,
#help #form_ticket input,
#help #form_ticket textarea{
    margin-bottom: 25px;
}

#help #form_ticket button{
    padding: 5px 15px;
    border-radius: 5px;
    border: 0;
    background-color: var(--iris);
    color: #fff;
    margin-top: 15px;
}



@media screen and (max-width: 992px){}





/*==================================================================================================*/
/*FOOTER*/
/*==================================================================================================*/



.footer{
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 15px 0;
    background-color: var(--grey);
}

.txt_titulo_footer{
    font-family: "Lato-Black";
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.txt_titulo_footer_redes{
    font-family: "Lato-Bold";
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.txt_titulo_footer_redes i{
    margin-left: 15px;
    font-size: 20px;
}

.txt_texto_footer{
    font-family: "Montserrat";
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.txt_texto_footer.smaller{
    font-size: 10px;
}

.footer_politicas{
    margin-top: 14px;
    z-index: 3;
}

.footer_logo img{
    width: 96px;
}

.bandeira_pt{
    position: relative;
    top: 31px;
    left: 20px;
}

.bandeira_pt img{
    left: 15px;
    bottom: 2px;
    width: 25px;
    position: relative;
    border-radius: 5px;
}








@media screen and (max-width: 992px) {

    .footer{
        text-align: center;
    }

    .footer_politicas {
        margin-top: 30px;
    }

    .bandeira_pt {
        left: 0;
    }

    .bandeira_pt img {
        width: 19px;
    }

    .mobile_margin_detalhe{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 450px) {

    .txt_texto_footer {
        font-size: 12px;
    }
}


