
body{
    /*background-image: url('/images/kimi2.jpg');*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.menu_holder {
    background-color: rgba(41, 41, 41, 0.5);
}

.modal_full{}

.modal_block{
    border-radius: 10px;
    background-color: #fff;
    position: relative;
}

.top_block{
    width: 100%;
    position: relative;
    z-index: 1;
    align-items: center;
    border-bottom: 1px solid #000;

    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.top_block .tab_opener{
    font-family: "Montserrat";
    font-size: 22px;
    color: #000;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    padding: 15px;
    cursor: pointer;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.top_block .tab_opener.active,
.top_block .tab_opener:hover{
    background-color: var(--matcha);
    color: #fff;
}

.top_block .tab_opener:first-child{
    border-right: 1px solid #000;
    border-top-left-radius: 10px;
}

.top_block .tab_opener:last-child{
    border-top-right-radius: 10px;
}

#form_register,
#form_access{
    padding: 30px;
    /*height: 335px;*/
}

.block_field{
    text-align: center;
    margin: 15px 0;
}

.label_field{
    font-family: "Montserrat";
    font-size: 20px;
    color: #000;
    line-height: 1.2;
    text-align: center;
    padding: 10px 20px;
    width: 160px;
}

.input_field{
    font-family: "Montserrat";
    font-size: 20px;
    color: #000;
    line-height: 1.2;
    padding: 10px 20px;
    border: none;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    border-bottom-left-radius: 10px;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.input_field:focus,
.input_field:hover{
    border-color: var(--matcha);
}

#form_register button,
#form_access button{
    background-color: #000;
    border: 2px solid #000;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px 36px;
    margin-top: 15px;

    font-family: "Montserrat";
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

#form_register button:hover,
#form_access button:hover{
    background-color: var(--matcha);
    border-color: var(--matcha);
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 10px 45px;
}


.forgot_password{
    padding: 3px 20px;
    border: 1px solid #000;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 15px;
    border-right: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    cursor: pointer;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.forgot_password i{
    color: #fff !important;
}

.forgot_password:hover{
    padding: 7px 26px;
    border: 1px solid var(--matcha);
    background-color: var(--matcha_t);
}

.msg_warning{
    color: var(--redbeanpaste);
    font-size: 16px;
    padding: 15px 10px;
}

.footer{
    display: none !important;
}


@media screen and (max-width: 992px){}

@media screen and (max-width: 768px){
    .block_field.disp_inline_flex{
        display: block !important;
    }

    .input_field {
        font-size: 16px;
        padding: 7px 15px;
        border-left: 0;
        border-bottom-left-radius: 0;
        width: 100%;
        text-align: center;
    }

    .label_field {
        font-size: 16px;
        width: unset;
    }

    .top_block .tab_opener {
        font-size: 16px;
        padding: 10px 15px;
    }

    #form_register,
    #form_access {
        padding-top: 10px;
    }

    .forgot_password{
        border: 0;
        left: 0;
        border-bottom-left-radius: 7px;
        border-top-left-radius: 0;
    }

    #form_register button,
    #form_access button{
        padding: 8px 25px;
        margin-top: 10px;
        margin-bottom: 16px;
    }

    #form_register button:hover,
    #form_access button:hover {
        padding: 8px 25px;
    }




}


